/* Things to remember  */
/* CSS accepts seconds and milliseconds for transition but Javascript only accepts millseconds (ms).  */

/*
Stylesheet for CIT261 website
*/
/********** Reset *************/
* {
    box-sizing: border-box;
    margin: 0;
} 
/********* Page Sections *******/
html {
    background-color: lightcyan;

}
body {
    /* backgroud is rich tan color */
    background-color: #DEC79B;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

li {
    line-height: 2em;
}

/********* Header ************/
header {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 50px;
    background-color: #46A29E;

}
/* logo- my name + class */
.logo {
    float: left;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: #f1f1f1;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
}
/********** nav *************/
nav a{
    text-decoration: none;
    color: #f1f1f1;
    display: block;

}
nav ul {
    list-style: none;
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
}
nav {
    float: right;
}
.top li {
    float: left;
    width: 80px;

}
.top li a {
    display: block;
    padding: 9px 10px;
}
.top li:hover > a {
    color: black;
}
.top li:hover ul {
    display: block;
    background-color: buttonface;
}
.top li:active > a {
    color: gray;
}

/******** Footer *************/
footer {
    background-color: #46A29E;
    width: 100%;
    max-width: 960px;
    color: dimgrey;
    height: 50px;
    margin: 0 auto;
    padding: 8px 0 0 15px;

}


/******** Main ***********/
main {
    /* backgroud is Benjamin Moore - white chocolate */
    background-color: #ede6d6;
    max-width: 960px;
    width: 95%;
    margin: 50px auto;
    padding: 0 15px;

}

/******** Headings and Text **********/
h1 {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.2em;
    margin-bottom: 25px;
    margin-left: 15px;
    font-size: 1.5em;
    margin-top: -5px;
}
h2 {
    margin: 30px 0;

}
h3 {

    margin: 15px 0;
    font-size: 20px;
}
p {
    margin: 15px 15px;
    font-size: 1.1em;
}
/******** Main links *********/
main a, main a:visited {
    text-decoration: none;
    color: black;
}
main a:hover {
    color: #66e0e0;
}
main a:active {
    color: gray;
}

/******** All Pages ********/
section {
    border-top: 2px solid #46A29E;
    margin-bottom: 40px;

}

.code {
    background-color: grey;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    overflow-x: hidden;

}
.result {
    background-color: lightgray;
    color: black;
    padding: 10px;
}
button {
    margin: 10px 10px;
    background-color: white;
}
label { 
    width: 100px;
    display: inline-block;
}

/******** Topic 1 ********/
#WordsAppear {
    display: none;
    font-size: 120%;
    color: blue;
}


/******** Topic 2 ********/

/* Next 2 bits are a fake out to get a full sized video on your page */
/*            .youtube=container     .youtube iframe= makes video as large as container  */
.youtube{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.youtube iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    
}
    
canvas{
    border: 1px solid black;
    background: lightblue;
}
    
/******** Topic 7 ********/

img {
    margin: 0px 180px auto; 
    
}

.container {
    background-color: lightcyan; 
    max-width: 500px;
    margin: 20px auto; 
    padding: 0px 0px 10px;
}

#sub-main-header {
    padding: 15px 0px 0px;
    
}

#radioCntl {
   padding: 0px 20px 0px;   
}

#sub-main {
/* top, right, bottom, left)  */    
    margin: 0px 70px auto;
    padding: 0 15px;

}

/******** Topic 8 ********/

.img-one {
     border: 20px 40px 20px 40px solid transparent;
    
}

#emoji {
    
    margin: 0px 390px;
}

/************* Topic 9 **************/

.box1{
   background: white;
   width:   200px;
   height: 200px;
   margin-left: 200px;
}
.box1:hover{
    background: red;
}

.box2{
   background: white;   
   width:  200px;
   height: 200px;
   
}

.box2:hover{
   background: red;
   transition-property: background, border-radius;
   transition-duration: 3s;
   border-radius: 50%;
}

.inline-block {
   display: inline-block;
}


/* The keyframe and slider stuff is for the sliding images. */

@keyframes slider {

/*This one goes forward thru and starts over at the beginning photo */
/* 0% {left: 0;}
10% {left: 0;} 
12% {left: -100%;}  
22% {left: -100%;}   
24% {left: -200%;}       
34% {left: -200%;}           
36% {left: -300%;}              
46% {left: -300%;}               
48% {left: -400%;}     
58% {left: 0;}
60% {left: 0;}
70% {left: -100%;}
72% {left: -100%;}
82% {left: -200%;}
84% {left: -200%;}
94% {left: -300%;}          
96% {left: -300%;}*/
    
/* This one goes forward thru the images then backward */    
0% {left: 0;}
10% {left: 0;} 
12% {left: -100%;}  
22% {left: -100%;}   
24% {left: -200%;}       
34% {left: -200%;}           
36% {left: -300%;}              
46% {left: -300%;}               
48% {left: -400%;}     
58% {left: -400%;}
60% {left: -300%;}
70% {left: -300%;}
72% {left: -200%;}
82% {left: -200%;}
84% {left: -100%;}
94% {left: -100%;}          
96% {left: 0%;}
         
}

#slider {
   overflow: hidden;
   height: 270px;    
}

#slider figure img{
    width: 20%;
    float: left;
    margin: 0;
    
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;  
}

/* This slides text in from the left. I decided against this.  There were comments about it performing badly and it should be done w/ opacity.
#slideText {
  position: relative;    
  animation-name: slideText;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes slideText {
     0%  {left: -1000px;}
    100% {left: 0;}    
}
*/

.hideText {
    position: relative;
      opacity:  0;
    transform:  translateY(20px);
    transition: 1.2s all ease-in;
    
}

.showText {
   opacity: 1; 
   transform: translateY(0px);
   
}

.slideEmoji {
   position: relative;    
   animation-name: slideEmoji;
   animation-duration:  4s;
   animation-fill-mode: forwards;
}


@keyframes slideEmoji {
     0%  {left: -400px;}
    25%  {left:  100%;}
    33%  {left:  150%;}
    50%  {left:  200%;}
    66%  {left:  250%;}
    75%  {left:  200%;}
    100% {left:   0px;}
    
}

/**************** Topic 10 ***************/
#clickEmoji {
  font-size: 100px;
    
}
#dClickEmoji {
  font-size: 100px;
    
}

.box3{
   background: white;
   width:  270px;
   height: 270px;
   margin-left: 200px;
}


@media only screen 
  and (min-device-width: 320px)
  and (max-device-width: 411px)
{
	.box3 {
        padding: 0;
        left: 0;
		margin-left: 0px;
	}
    
    .food {
        padding: 0;
        left: 0;
		margin-left: 0px;
    }
}

@media only screen 
  and (min-device-width: 412px)
  and (max-device-width: 500px)
{
	.box3 {
		margin-left: 5px;
	}
    .food {
		margin-left: 5px;
	}
    
}
/******************************************************/
/*  ZOOM in and OUT effect with CSS only.  Very Cool. */
.frameContainer{
    width:  270px;
   height:  270px;
   border:  solid 2px black;
 overflow:  hidden;
 margin: 50px auto 0px auto;
}

.frame{
    width:  100%;
    height: 100%;
    background-image: url("IMG_2535.jpeg");
/*    background-image: url("https://static.boredpanda.com/blog/wp-content/uploads/2014/03/cute-fluffy-animals-20.jpg");  */
    background-position: center;
    background-size: cover;   
}


.frame:hover{
   animation: zoomeffect 10s infinite;
}

@keyframes zoomeffect{
    0%{
      background-position:center;
      transform:scale(1,1);
    }
    50%{
      background-position:center;
      transform:scale(2,2);
    }
    100%{
      background-position:center;
      transform:scale(1,1);
    }
}

/*  ENDING ZOOM in and OUT effect with CSS only. */

#img1 {
    width: 100;
    margin: 20px 0px 0px 30px;
}

/*************** Topic 11 ***************/

/*****  CheckBoxes With a Checkmark topic 11 **********/

.Ckbox {
  width: 300px;
  margin: 25px 0 0 20px;
  display: flex;
  align-items: center;
  user-select: none;
}
.Ckbox label {  
  width: 300px;
  font-size: 16px;
  color: #4D4D4D;
  position: absolute;
  z-index: 10;
  padding-left: 50px;
  cursor: pointer;
}
.Ckbox input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.Ckbox input:checked ~ .check {
  border-color: #00EA90;
  box-shadow: 0px 0px 0px 15px #00EA90 inset;
}
.Ckbox input:checked ~ .check::after {
  opacity: 1;
  transform: scale(1);
}
.Ckbox .check {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background-color: #FFF;
  border: 2px solid #00EA90;
  box-shadow: 0px 0px 0px 0px #00EA90 inset;
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
}
.Ckbox .check::after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  transform: scale(0);
  background-size: 50%;
  background-image: url("check-mark.png");
  background-repeat: no-repeat;
  background-position: center;
  transition-delay: 0.2s !important;
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}


/*****  Gallery of photos topic 11 **********/

.wrapGallery{
 max-width: 742px; 
 border: thin red  solid;      
 margin: 0 auto;
 padding: 20px;    
}

/* On the animation for the amount of time. However long you want to see a photo, multiply it by the number of photos.*/
.gallery {
  max-width: 600px;
  border: thin black solid;
  margin: 0 auto;
  background: skyblue;
  animation: fader 35s linear infinite;
}

.gallery img{
  margin: 0 0 0 0;
  padding: 0;     
}

/* Instead of guessing, count up the images minus 1. So in this case, 4 then divide by 100 and that is your interval. */
/* Also, Put the first picture on the end as well. This stops a jerking motion. */
@keyframes fader{
      0% {background: url("nature-2_1280.jpg"); background-size: cover;}
     25% {background: url("nature_1280.jpg ");  background-size: cover;}
     50% {background: url("sunset-1_1280.jpg"); background-size: cover;}
     75% {background: url("banner_1280.jpg ");  background-size: cover;}
    100% {background: url("nature-2_1280.jpg"); background-size: cover;}
}



/* =========================
   CSS ACCORDION - BASIC CSS ONLY
   ========================= */
   .final__accordion {
      position: relative;
      display: block;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
    }
 
    .final__accordion .accordion__item {
      display: block;
    }
 
    .final__accordion .accordion__content {
      display: block;
      padding: 0;
      overflow: hidden;
      height: 0;
      -webkit-transition: height 0.5s ease, padding 0.3s linear;
      transition: height 1s ease, padding 0.3s linear;
    }
 
    .final__accordion .accordion__content p {
      padding: 20px;
      margin:0;
    }
 
    .final__accordion .accordion__content:target {
      height: 150px;
      overflow-y: scroll;    
    }
 
    .final__accordion .accordion__trigger {
      text-decoration: none;
    }
 
    .final__accordion .accordion__title {
      position: relative;
      display: block;
      margin: 0;
      padding: 10px;
      font-size: 1em;
      background-color: #00B3B4;
      color: #FFFFFF;
      border: 1px solid #379AA4;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
      cursor: pointer;
    }
 
    .final__accordion .accordion__title:hover {
      background-color: #0bbfc0;
    }
 
    .final__accordion .accordion__title:after {
      position: absolute;
      top: calc(50% - 5px);
      right: 20px;
      width: 7px;
      height: 7px;
      border-left: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      content: "";
    }


/******** Better Accordion - JAVASCRIPT  in topic 11 ***************/

.container2 {
/*
  width: 80%;
  max-width: 600px;
*/
  margin: 40px 0 0 0;
}

button.accordion2 {
  margin: 0;    
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

button.accordion2:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion2.is-open:after {
  content: '\f056';
}

button.accordion2:hover, button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}





/*************** Topic 12 ***************/



.btn {
    background: #428BCA;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 45px;
    width: 150px;
    line-height: 45px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: darkturquoise;
}

 .but {
    background: #227ca7;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 45px;
    width: 150px;
    line-height: 45px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    border-radius: 20px;
    transform: translate(-50%, -50%)
    transition: all 0.3s ease 0s;
}

.but:hover {
  background-color: #003B59;
}

/*********************/
.but2{
            color:#D3D3D3;
            font-family: verdana;
            width: 200px;
            padding: 15px;
            border: 2px solid #46A29E;
            text-align: center;
            position: absolute;
/*            top:  60%;*/
            left: 32%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            transition: .5s;
        }
.but2:after{
            content: '';
            width: 0px;
            height: 120%;
            position: absolute;
            left: -10%;
            bottom: 0;
            background-color: #CCFFFF;
            transform: skewX(15deg);
            z-index: -1;
            transition: .5s;
        }
.but2:hover{
            cursor: pointer;
            color:  #227ca7;
        }
.but2:hover:after{
            left: -10%;
            width: 120%;
        }





/******* Flip card section ************/


.flip-box {
  background-color: transparent;
  width: 100%;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.flip-box-inner {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box1:hover .flip-box-inner {
  transform: rotateX(180deg);
}

.flip-box2:hover .flip-box-inner {
  transform: rotateX(180deg);
}


.flip-box-front, .flip-box-back {
  position: absolute;
  width: 200px;
  height: 200px;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: cadetblue;
  color: white;
  transform: rotateX(180deg);
}

/**********  Translate - Move the Boxes      **************/

.transBox {
    width: 80px;
    height: 80px;
    background-color:  #46A29E;
/*    position: absolute;*/
    text-align: center;
    padding: 10px 0;
    transition: all 1s ease-in-out;
}
.t1 {
    left: 25px;
    top: 50px;
}
.trans1 {
    transform: translate(300px, 0px);
}

.trans2 {
    transform: translateY(-100px);
}
/************************/
/* Picture display */
.modal {
z-index:1;
display:none;
padding-top:10px;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgb(0,0,0);
}

.modal-content{
margin: auto;
display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


.modal-hover-opacity {
opacity:1;
filter:alpha(opacity=100);
-webkit-backface-visibility:hidden
}

.modal-hover-opacity:hover {
opacity:0.60;
filter:alpha(opacity=60);
-webkit-backface-visibility:hidden
}


.container1 {
width:200px;
display:inline-block;
box-sizing: border-box;
}

.container1{
  flex: 20%;
  padding-right: 5px;
  animation-name: out;
  animation-duration: .6s;    
}

/*img {vertical-align: middle;}*/

.row img {
/* Setting margin to auto on any block element is a cool trick to center the element horizontially. The element will take the width you set
    and then the remaining space will be split up into the left and right margin. */ 
/* Thank you margin auto!  trick to center the element horizontally  */
    margin: auto;
    vertical-align: middle;
    max-width:195px;
    max-height:195px;
    transform: rotate(10deg);
    
}

.row img:hover {
   transition: transform 3.5s; 
   transform: rotate(0deg);
   cursor: pointer;
}

.row {
    max-width: 1000px;
    display: flex;
    margin:auto;
}

.rowText {
  color: black;
  font-size: 20px;
  position: relative;   
  text-align:center;
  width: 100%; 
}


/*******  Spinning CUBE  ***************/

.container3 {
  width: 400px;
  margin: 50px 0 0 50px;
  display: flex;
}
/* the caret= means anything that begins with cube, style this way.. */
[class^="cube"] {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}
[class^="face-"] {
  position: absolute;
  width: 200px;
  height: 200px;
  padding: 20px;
  color: rgba(0,0,0,0.75);
  border: 1px solid;

  font-size: 160px;
  font-family: Avenir;
  line-height: 1;
  text-align: center;
}

.face-one {
  transform: translateZ(100px);
  background-color: hsla(329,58%,52%,0.8);  
}
.face-two {
  transform: rotateX(90deg) translateZ(100px);
  background-color: hsla(0,0%,13%,0.8);
}
.face-three {
  transform: rotateY(90deg) translateZ(100px);
  background-color: hsla(54,70%,68%,0.8);
}
.face-four {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: hsla(190,81%,67%,0.8);
}
.face-five {
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
  background-color: hsla(261,100%,75%,1.0);
}
.face-six {
  transform: rotateY(180deg) translateZ(100px);
  background-color: hsla(84,76%,53%,0.8);
}
.cube-z {transform: rotateZ(0deg);}
.cube-y {transform: rotateY(0deg);}
.cube-x {transform: rotateX(0deg);}


.cube-z {animation: spin 4s infinite linear;}

@keyframes spin {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
/* perspective -  controls the distance between the viewer and the zero point of the z-axis (higher further away, lower closer to viewer)
   increasing the 3D positioning.
   perpective-origin (value1, value2) - value1 controls the horizontal and value2 controls the vertial. negative will tilt the axis
*/
.container4 {
  margin: 0 0 0 100px;    
  perspective: 400px;
  perspective-origin: 25% -50%;
}
.container5 {
  margin: 0 0 0 100px;
  perspective: 600px;
  perspective-origin: 25% -50%;    
}
.container5 img{
  margin: 0 0 0 0;
  position: absolute;
  width:  200px;
  height: 200px;
  
}

/* hsla stands for (HUE, SATURATION, LIGHT AND ALPHA)  Go here to make one. http://hslpicker.com/#fffefa,0.59 */

.container5 [class^="face-"] { 
background-color: hsla(49, 100%, 99%, 0.59);
}


/*******  POP,  BOUNCE IN, and FLOAT  Photos  ***************/


.container6 {
  box-sizing: border-box;
  display: flex;
    
}

.jump{
 margin: 100px;
 display: flex;
 width: 600px;
 justify-content: center;
}

[class^="photo-"] {
 margin: auto;
 padding: 0 10px 0 10px;
  
}


/********* This is the best website   http://ianlunn.github.io/Hover/   Shows you a ton of ideas.  *********/

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}





/**************** Topic 13 ***************/

/***  SCROLLING TEXT  ****/
.example1 {
 height: 50px;	
 overflow: hidden;
 position: relative;
}

.example1 h3 {
 font-size: 3em;
 color:  #46A29E;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
    
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
    
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}



/* BOUNCING TEXT - SIDE TO SIDE within container*/
.example5 {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.example5 h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: left;
 /* Apply animation to this element */	
 -moz-animation: example5 4s linear infinite alternate;
 -webkit-animation: example5 4s linear infinite alternate;
 animation: example5 4s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes example5 {
 0%   { -moz-transform: translateX(82%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes example5 {
 0%   { -webkit-transform: translateX(82%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes example5 {
 0%   { 
 -moz-transform: translateX(82%); /* Firefox bug fix */
 -webkit-transform: translateX(82%); /* Firefox bug fix */
 transform: translateX(82%); 		
 }
 100% { 
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }
}

/* SCROLLING TEXT - BOTTOM to TOP within container*/
.example3 {
 height: 100px;	
 overflow: hidden;
 position: relative;
 border:  solid 2px black;
}

.example3 h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
    
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: example3 15s linear infinite;
 -webkit-animation: example3 15s linear infinite;
 animation: example3 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example3 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example3 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes example3 {
 0%   { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 		
 }
 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }
}

/* SCROLLING TEXT -  TOP to BOTTOM within container*/

.example4 {
 height: 100px;	
 overflow: hidden;
 position: relative;
 border:  solid 2px black;

}
.example4 h3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: example4 15s linear infinite;
 -webkit-animation: example4 15s linear infinite;
 animation: example4 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example4 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example4 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes example4 {
 0%   { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 
 }
}


/* SLIDE IN TEXT -  Right to Left within container*/

.example2 {
 height: 150px;	
 overflow: hidden;
 position: relative;

}
.example2 p{
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 30px;
 text-align: left;
 color: azure;
 background-color: #46A29E;
 padding: 0 15px 0 15px;

 /* Apply animation to this element */	
 -moz-animation: example2 10s ease-out;
 -webkit-animation: example2 10s ease-out;
 animation: example2 7s ease-out;
}
/* Move it (define the animation) */
@-moz-keyframes example2 {
 0%   { -moz-transform: translateX(200%); }
 100% { -moz-transform: translateX(0%); }
}
@-webkit-keyframes example2 {
 0%   { -webkit-transform: translateX(200%); }
 100% { -webkit-transform: translateX(0%); }
}
@keyframes example2 {
 0%   { 
 -moz-transform: translateX(200%); /* Firefox bug fix */
 -webkit-transform: translateX(200%); /* Firefox bug fix */
 transform: translateX(200%); 		
 }
 100% { 
 -moz-transform: translateX(0%); /* Firefox bug fix */
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }
}

/* Testing this out with more  SCROLLING TEXT - BOTTOM to TOP within container*/

.example6 {
 height: 100px;	
 overflow: hidden;
 position: relative;
 border:  solid 2px black;

}
.example6 p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 30px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(-100%);
 -webkit-transform:translateY(-100%);	
 transform:translateY(-100%);
 /* Apply animation to this element */	
 -moz-animation: example6 15s linear infinite;
 -webkit-animation: example6 15s linear infinite;
 animation: example6 11s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example6 {
 0%   { -moz-transform: translateY(-100%); }
 100% { -moz-transform: translateY(100%); }
}
@-webkit-keyframes example6 {
 0%   { -webkit-transform: translateY(-100%); }
 100% { -webkit-transform: translateY(100%); }
}
@keyframes example6 {
 0%   { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Firefox bug fix */
 -webkit-transform: translateY(-100%); /* Firefox bug fix */
 transform: translateY(-100%); 
 }
}

.box4 {
   background-color: darkturquoise;
   width:  150px;
   height: 150px;
   margin-left: 200px;
/* TRANSITION is always on the element  and the destination of the style on the HOVER!!!   */    
   transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box4:hover {
/* Then TRANSITION looks at the hover and says wow, there is a change, lets start rotating */
  transform: rotate(180deg);
  transform: translateY(25%);
  animation: box4 8s linear infinite;
}


.parent2 {
    width: 100%;
    display: flex;
    justify-content:stretch;
    
}    
    
.box5 {
   width:  150px;
   height: 150px;
   margin-left: 200px;
   background-color: crimson;
   transition: width 2s, height 2s, background-color 2s, transform 2s;
}  
    
.box5:hover {
  transform: translateY(50%);
  background-color: greenyellow;
  animation: bounce 1.5s easy-in-out infinite;
    
}

.pinterest:hover { 
    animation: turnOnY 3s infinite linear;
/*    backface-visibility: hidden;*/
    
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;       /*  Turns a square into a circle  */ 
  background-color: mediumseagreen;    
  margin: 0 184px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

/* CUBIC BEZIER helper  - https://cubic-bezier.com/#.5,.05,1,.5  */
/*
.ball {
  margin: 0 184px;
  animation: bounce 0.5s cubic-bezier(.5,0.05,1,.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
*/
 
/******  WHAT I LEARNED, YES I AM SCREAMING!!  WHAT I LEARNED IS... THE BLEEPING KEYFRAME NEEDS TO BE BELOW THE THING THAT REF IT! ***/

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 150px, 0); }
}

@keyframes turnOnY {
 0%   {transform: rotateY(0);}
 100% {transform: rotateY(360deg);}
}

@keyframes box4 {
 0%   {transform: rotate(-180deg);}
 100% {transform: rotate(180deg);}
}


/*
@keyframes bounce {
 0%  {transform: translateY(0);}
 20% {transform: translateY(0) scale(1,1);}
 40% {transform: translateY(-30px) scale(1, 1);}
 50% {transform: translateY(0) scale(1, .9);}
 60% {transform: translateY(-12px);}
 80% {transform: translateY(0px) scale(1, 1);}
100% {transform: translateY(0px);}
}
*/
 

